html,body{
    padding:0;
    margin:0;
    height:100%;

    font-family: 'Roboto Condensed', sans-serif;


    width:100%;
}
.navbar{
    display:flex;
    background-color: #232931;
    flex-direction: row;
    border-radius: 0%;
}

#page{
    margin:auto;
    color: #eeee;
    font-size: 1.2em;
    transition: all .2s;
    padding:1%;
    width:33%;
    text-align: center;
}
.navbar:hover{
    background-color: #393e46;
}
#caraousel{
  width: 100%;
  height: 100%;
  font-size:2em;
  display: flex;
  
  flex-direction: column;
  line-height: initial;
  vertical-align: middle;
  font-style:bold;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
    color:#eeee;
}
#caraousel div{
    height: 15%;
}
#about{
    display: flex;
    
    padding:5%;
}
#image_about{
    background-image:url("cara_2.JPG");
    width: 40%;
    background-position: center;
    background-size: cover;
}

#about_content{
    font-size: 1.2em;
    width:75%;
}


@media only screen and (max-width: 700px) {
    #about_content{
        width:100%;
        font-size: 1em;
    }
    #image_about{
        display: none;
    }

}
#images{
    display: flex;
    height:100%;
}

.img{
    transition:all .2s ease-in-out;
}
#im1:hover,#im2:hover,#im3:hover,#im4:hover,#im5:hover{
    width:50%;
}

#im1{
    background-image:url("row_ke/1.jpg");
    width: 20%;
    background-position: center;
    background-size: cover;

}

#im2{
    background-image:url("row_ke/2.jpg");
    width: 20%;
    background-position: center;
    background-size: cover;

}

#im3{
    background-image:url("row_ke/3.jpg");
    width: 20%;
    background-position: center;
    background-size: cover;

}


#im4{
    background-image:url("row_ke/4.jpg");
    width: 20%;

    background-position: center;
    background-size: cover;

}


#im5{
    background-image:url("row_ke/5.jpg");
    width: 20%;

    background-position: center;
    background-size: cover;

}
/*Pricing*/
* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 25%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
/*/pricing*/
.navbar{
    position: fixed;
    top:-50px;
    width: 100%;
    transition: all .2s ease-in-out;
}
#email{

    display:inline-block;
    background-color:   #DC143C;
    color:white;
    border-radius: 5%;
    padding:2%;
}